<!DOCTYPE html>
<html lang="{{ site.lang | default: "zh-CN" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 style="font-size: 24px"><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <p class="view">本书由北京航空航天大学出版社出版。</p>

        <p class="view">
            购买纸质书籍请访问：<a href="https://item.jd.com/12796746.html" target="_blank">京东</a><br/>
        </p>

        <p class="view">
            .NET Core 底层实现提问仓库：<a href="https://github.com/netcoreimpl/questions" target="_blank">点击进入</a><br/>
            .NET Core 底层实现交流群：<b>TODO</b>
        </p>

        <p style="font-size: 10px" class="view">本站点由 Github Pages 提供，并使用了模板 Minimal。</p>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
